{
  "PublisherId": "CN=A49A873E-E59C-4F1B-971C-224047199631",
  "PublisherDisplayName": "Dziek",
  "PackageIdentityName": "44903Dziek.FeFoFall",
  "DisplayName": "FeFoFall",
  "AppId": "9PFPT24M34WW",
  "ProductFamilyName": "44903Dziek.FeFoFall_qz55qcxkxpdqm",
  "PrimaryServiceConfigId": "00000000-0000-0000-0000-0000630f6617",
  "TitleId": 1661953559,
  "Sandbox": "GNPPPQ.58",
  "XboxLiveCreatorsTitle": true
}